.navigation-clean-button {
    background: $navbarColor;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    height : 70px; 
    left: 0;
    top: 0;
    right: 0;
    position: fixed !important;
    z-index: 9999;
}

.navigation-clean-button-transparent {
    background: $navbarColorTransparent;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    height : 70px; 
    left: 0;
    top: 0;
    right: 0;
    position: fixed !important;
    z-index: 9999;
}

@media (min-width: 768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-button .navbar-brand {
}
.nav-bar-logo{
    top: 0.5vh;
    width: 3.5vw;
}


.navigation-clean-button-transparent .navbar-brand {
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
    color: $secondaryColor;
}

.navigation-clean-button .navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
    background: none;
    cursor: pointer; 

}

.navigation-clean-button .navbar-toggler {
    color: #888;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
    background: none;
    box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    cursor: pointer;

    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
}
.navigation-clean-button-transparent.navbar .navbar-nav .nav-link {
    color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: $primaryLightColor-3 !important;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;

}

.navigation-clean-button .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: $secondaryColor;
}
.navigation-clean-button .actions .login:hover {
    // margin-right: 1rem;
    text-decoration: none;
    color: $primaryLightColor-3;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-clean-button-transparent .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: $secondaryColor;
}
.navigation-clean-button-transparent .actions .login:hover {
    // margin-right: 1rem;
    text-decoration: none;
    color: $primaryLightColor-3;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-clean-button .navbar-text .action-button {
    font-size: inherit;
    color: $secondaryColor;
    text-shadow: none;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
}
.navigation-clean-button-transparent .navbar-text .action-button {
    font-size: inherit;
    color: $secondaryColor;
    text-shadow: none;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
}
.nav-item{
    margin-left: 20px;
    margin-top: 5px;
    float : right;
}

.signup{
    margin-left: 2rem;
}
.navbar-toggler-icon{
    color: #ffffff;
}

.stock-navbar {
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #e2e2e2;
}

@media (max-width: 576px) {

    .login{
        margin-left: 20px;
        background-color: rgba(255, 255, 255, 0.0);
    }

    .nav-item{
        margin-left: 20px;
        margin-top: 5px;
        float : right;
        background-color: rgba(109, 1, 1, 0.837);
    }

    .login-btn-div{
        // margin-left: 20px;
    }

    .action-button{
        margin-top: -5px;
        margin-left: -12px;
    }

    .actions{
        margin-top: -0.4px;
        background-color: rgba(109, 1, 1, 0.837);
        width: 94.25%;
        margin-left: 20px;
    }
    
}
