.custom-fileuploader-main {
    .file-uploader-tag {
        display: block;
        text-align: left;
        font-weight: 500;
        color: rgb(88, 88, 88);
    }
    span {
        display: block;
    }
    .is-invalid-uploader {
        border-color: red;
    }

    .upload-icon {
        display: block;
        color: $primaryLightColor;
        font-size: 25px;
        margin-left: -13px;
        margin-top: -10px;
        cursor: pointer;
        position: absolute;
        animation-name: upload-btn;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
    }

    .file-name-label {
        font-size: 14px;
        margin-left: -20px;
        margin-top: 5px;
        color: $primaryColor;
    }
    @keyframes upload-btn {
        0% {
            font-size: 26px;
            color: $primaryLightColor-3;
        }
    }

    @media only screen and (max-width: 576px) {
        .file-name-label {
            font-size: 14px;
            margin-left: 0px;
            margin-top: 5px;
            color: $primaryColor;
        }
    }
}
