.custom-btn-primary{
    background-color: blue;
    color: white;
    opacity: 0.9;
    // width: 100%;
}

.custom-btn-primary:hover{
    background-color: blue;
    color: white;
    opacity: 1;
    
}

.custom-icon-btn{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    // padding: 10px;
    // background-color: red;
}

.custom-icon-btn-primary:hover{
    background-color: red;
    color: white;
    opacity: 1;
    
}

.custom-btn-blue-color{
    background-color: blue;

}

.custom-btn-blue-color:hover{
    background-color: blue;

}
