.pop-up{
  margin: auto;
  width: 60%;
  padding: 10px;
  align-self: center;
}

.add-item-cancel-btn{
  background-color: #f44336;
}

.add-item-cancel-btn:hover{
  background-color: #f44336;
}

.add-item-edit-btn{
  background-color: orange;
}

.add-item-edit-btn:hover{
  background-color: orange;
}
