
.report-topic-wrap{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    
    .report-topic{
        font-size: 25px;
        font-weight: 500;
        margin-top: 2vh;
    }
}

.report-slect-content{
    margin-left: 40px;

}

.slect-date-rage-title{
    margin-bottom: 10px;
    font-weight: 600;
}

.date-rage-selector{
    margin-top: 10px;
}
.time-select-left{
    margin-right: 10px;
}

.time-select-right{

}

.label-from{
    margin-right: 5px;
}

.label-to{
    margin-right: 5px;
}
.search-btn{
    margin-left: 10px;
}
.time-select-card{
    padding: 10px;
}