.daily-reports {
    .daily-reports-content {
        .daily-reports-topic {
            font-size: 25px;
            font-weight: 500;
            margin-top: 9vh;
        }
    }

    .report-slect-content {
        margin-left: 40px;
    }

    .slect-date-rage-title {
        margin-bottom: 10px;
        font-weight: 600;
    }

    .date-rage-selector {
        margin-top: 10px;
    }
    .time-select-left {
        margin-right: 10px;
    }

    .label-from {
        margin-right: 5px;
    }

    .label-to {
        margin-right: 5px;
    }
    .search-btn {
        margin-left: 10px;
    }
    .time-select-card {
        padding: 10px;
    }
}
