.page-not-found-devision-1 {
    margin-top: 50px;

    .page-not-found-image {
        width: 40%;
        margin: auto;
        display: block;
    }

    .page-not-found-head {
        display: block;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        color: #8f2727;

    }

    .page-not-found-body {
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: rgb(107, 107, 107);
        margin-bottom: 90px;
    }
}