.item-brand-reg-home{
    .item-brand-reg-title{
        .item-title{
            font-size: 25px;
            font-weight: 500;
            margin-top: 9vh;
            color: black;
        }
    }


    .item-brand-list{
        margin-top: 10px;
    }

    .item-brand-add-button{
        margin-top: 33px;
        margin-left: 21px;
        width: 150px;
 
    }
}