$primaryColor: blue;
$primaryLightColor: #99353f;
$primaryLightColor-2: #b15353;
$primaryLightColor-3: #e58f8f;
$primaryBtnBackColor: rgb(255, 255, 255,0.1);
$successColor: rgb(11, 102, 35);
$primaryBtnColor:rgb(25, 25, 112);
$secondaryColor: #ffffff;

$backgroundColor: #f3f3f3;

$footerColor: #7e0a15;
$footerContentColor: #e4e4ff;

$navbarColor: blue;
$navbarColorTransparent: rgba(10, 10, 10, 0.445);
$sidebarColor: rgba(10, 10, 10, 1);
$sidebarItemColor:white;

$fontTitleColor: #3d3d3d;

.main-router-non-auth {
    padding-top: 70px;
    min-height: 100vh ;
    // background-color: green;
}
.main-router-auth {
    padding-top: 70px;
    padding-left: 250px;
    min-height: 90vh;
}
html {
    scroll-behavior: smooth;
}
.image-loader-main{
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100000;
    top:0;
}

.text-color-white{
    color: white;
}

.text-color-success{
    color: $successColor;
}

.form-error{
    font-size: 14px;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/common/forms/custom-btn";
@import "./styles/common/forms/custom-fileuploader";
@import "./styles/common/forms/custom-input";
@import "./styles/common/forms/custom-textarea.scss";
@import "./styles/common/forms/custom-selectbox.scss";
@import "./styles/common/forms/custom-checkbox.scss";

@import "./styles/common/ui-components/alert";
@import "./styles/common/ui-components/loader";
@import "./styles/common/ui-components/popup";
@import "./styles/common/ui-components/table";

//page not found
@import "./styles/common/utils/page-not-found";

//navbar
@import "./styles/shared/navbar";

//sidebar
@import "./styles/shared/sidebar.scss";
//Loader
@import "./styles/common/utils/loader.scss";

@import "./styles/pages/pages";
@import "styles/pages/items/items";
@import "styles/pages/items/drop";


//page Loader
@import "./styles/shared/page-loader";

//user
@import "./styles/pages/user/user.scss";

//user-popup
@import "./styles/pages/user/includes/user-popup.scss";
